@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: relative;
  width: 1440px;
  height: 2000px;
  background: #ffffff;
}

.body {
  width: 1520px;
  height: 800px;
  background-color: aqua;
  background-image: url(/src/pages/home-login/assets/BG.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.body p {
  position: relative;
  width: 496px;
  height: 247px;
  left: 6%;
  top: 0px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 62px;
  color: #ffffff;
  letter-spacing: 5px;
}

span {
  color: #f2d555;
}

.Search {
  position: absolute;
  top: 20%;
  left: 50%;
  background-color: #f0f0f1;
  border-radius: 99px;
  text-decoration: none;
  width: 704px;
  height: 60px;
}

.Search button {
  position: absolute;
  text-decoration: none;
  left: 82%;
  top: 15%;
  background-color: #214457;
  border-radius: 99 px;
  color: #fff;
  width: 112px;
  height: 40px;
  border-radius: 99px;
  cursor: pointer;
}

input {
  position: absolute;
  left: 8%;
  top: 25%;
  background: #f0f0f1;
  width: 507px;
  height: 28px;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
}

.icon {
  position: absolute;
  bottom: 18px;
  left: 25px;
}

.cardGrid {
  height: 20%;
  width: 20%;
  display: flex;
  margin-left: 4%;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column; */
}

.card {
  margin-left: 50px;
  border-radius: 10px;
  /* box-shadow: #214457; */
  border: 1px solid;
  outline: none;
  border: none;
}

.card:hover {
  opacity: 0.7;
  transition: 0.5s;
  box-shadow: 2px 4px 16px 2px #21445726;
}

.image {
  width: 100%;
  height: 200px;
  z-index: -1;
}

.image img {
  width: 288px;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}

.content {
  font-size: 14px;
  line-height: 20px;
  align-self: stretch;
}

.category {
  width: 82px;
  /* height: 42px; */
  border-radius: 4px;
  margin: 10px;
  text-align: center;
  color: #214457;
}

.content .category {
  background-color: #f0f2e9;
  border: 4px;
  padding: 5px 5px;
}

.desc {
  padding: 10px 10px 10px 10px;
}

.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 100px 5px 25px 1px;
  margin-left: -1%;
}

.top li {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  list-style: none;
}

.top li a {
  text-decoration: none;
  color: #3e89ae;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
}

.top h2 {
  font-family: "Poppins";
  font-size: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  margin-left: 8%;
}

.middle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 100px 5px 25px 40px;
}

.middle li {
  display: flex;
  font-family: "Poppins";
  font-size: 16px;
  color: #3e89ae;
  font-weight: bold;
  line-height: 15px;
  font-style: normal;
}

.middle h2 {
  font-family: "Poppins";
  font-size: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
}
