@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

.container {
  background-color: #214457;
  color: white;
  font-family: "Noto Sans";
  margin-top: 10rem;

  footer {
    padding: 2rem;
  }

  h5 {
    padding-bottom: 2vh;
    font-weight: 700;
  }

  p {
    max-width: max-content;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: #f2d555;
  }

  .socials {
    margin-bottom: 10vh;
  }

  .terms {
    margin-top: 15vh;

    ul {
      display: flex;
      list-style: none;
      padding-left: 0;
      column-gap: 1vw;
    }
  }
}
