@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1522px;
  height: 1121px;
}

.hero {
  position: absolute;
  align-items: center;
  width: 800px;
  height: 500px;
  margin: 20px;
  /* background: chocolate; */
}

.formLogin {
  position: relative;
}

.email input {
  border: 1px solid #999999;
  opacity: 0.9;
  background: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  padding-left: 10px;
  top: 160px;
  left: 20%;
  border-radius: 4px 4px 4px 4px;
  height: 45px;
}

.password input {
  border: 1px solid #999999;
  opacity: 0.9;
  background: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  padding-left: 10px;
  top: 235px;
  left: 20%;
  border-radius: 4px 4px 4px 4px;
  height: 45px;
}

/* .signin {
  top: 200px;
  left: 200px;
} */

.signin {
  margin-top: 4px;
}

.signin button {
  position: absolute;
  cursor: pointer;
  width: 63.5%;
  height: 56px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  background-color: #214457;
  top: 310px;
  left: 20%;
  border-radius: 6px;
  border: none;
}

.forgot {
  position: absolute;
  text-decoration: none;
  font-style: 1000px;
  color: #3e89ae;
  top: 370px;
  left: 44%;
  font-style: bold;
  line-height: 25px;
}

.title h3 {
  position: absolute;
  color: #373737;
  top: 100px;
  left: 30%;
  /* font-style: bold; */
  font-size: 40px;
  line-height: 4px;
}
