@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1522px;
  height: 1121px;
}

.hero {
  position: absolute;
  align-items: center;
  width: 800px;
  height: 500px;
  margin: 20px;
  /* background: chocolate; */
}

.title {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-style: Bold;
  font-size: 40px;
  line-height: 44px;
  /* letter-spacing: 44px; */
}

form a {
  text-decoration: none;
  color: #3e89ae;
  text-align: center;
  padding-top: 1rem;
  font-size: 16px;
  line-height: 25.2px;
  font-weight: bold;
}

form {
  display: grid;
  padding: 1em;
  /* background-color: aqua; */
  /* border: 1px solid #c1c1c1; */
  margin: 2rem auto 0 auto;
  max-width: 600px;
  /* padding-bottom: 1rem; */
}
form .warning .hover {
  margin-left: 5rem;
  height: 45px;
  width: 400px;
  border-radius: 6px 6px;
  background: #fff;
  border: 1px solid #9c9c9c;
  opacity: 0.7;
  margin-bottom: 1.5rem;
}
form .regist {
  margin-left: 5rem;
  background: #214457;
  padding: 0.7em;
  width: 70%;
  border: 0;
  color: #fff;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
}

#Confirm-Password input {
  border: 1px solid #fff;
}

.hover {
  padding: 0.7em;
  margin-bottom: 0.5rem;
}

.hover:focus {
  outline: 1px solid #000000;
}

.warning p {
  color: red;
  position: absolute;
  left: 15%;
  top: 70%;
  font-size: 10px;
}

.errorhover {
  margin-left: 5rem;
  height: 45px;
  width: 400px;
  border-radius: 6px 6px;
  background: #fff;
  border: 1px solid red;
  opacity: 0.7;
  padding: 0.7em;
  margin-bottom: 1.5rem;
}

.warning {
  position: relative;
}
.Eye {
  all: unset;
  position: absolute;
  top: 20%;
  left: 79%;
  cursor: pointer;
}
