@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.container {
  background-color: #214457;
  max-width: inherit;
  font-family: 'Noto Sans';
  color: white;
  border-bottom: 0;

  header {
    padding: 4rem;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:visited {
    color: white;
  }

  a:hover {
    color: #f2d555;
  }

  .loginNav {
    .profile {
      display: flex;
      justify-content: center;
      position: relative;
      top: 8px;

      a {
        color: white;
        position: relative;
        top: 8px;
      }
    }

    img {
      width: 15%;
      height: 15%;
      border-radius: 50%;
    }

    span {
      position: absolute;
      right: 213px;
      top: 6px;
      color: #787885;
    }

    .searchBar {
      width: 15rem;
      border-radius: 40px;
      background-color: white;
      padding: 0.5rem 2rem;
      position: absolute;
      left: 316px;
      top: 26px;
      input {
        border: 0;
        outline: none;
      }
    }

    .dropbtn {
      background-color: transparent;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdownContent {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdownContent a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdownContent a:hover {
      background-color: #ddd;
      border-radius: 10px;
    }

    .dropdown:hover .dropdownContent {
      display: block;
      border-radius: 10px;
    }

    .dropdown:hover .dropbtn {
      background-color: transparent;
    }
  }
}

.navHome {
  position: relative;
  z-index: 1;
  padding-left: 5rem;
  padding-right: 5rem;

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #f2d555;
  }

  .loginNav {
    .profile {
      display: flex;
      justify-content: center;
      position: relative;
      top: 8px;

      a {
        color: white;
        position: relative;
        top: 8px;
      }
    }

    img {
      width: 15%;
      height: 15%;
      border-radius: 50%;
    }

    span {
      position: absolute;
      right: 213px;
      top: 6px;
      color: #787885;
    }

    .searchBar {
      display: none;
    }

    .dropbtn {
      background-color: transparent;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdownContent {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdownContent a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdownContent a:hover {
      background-color: #ddd;
      border-radius: 10px;
    }

    .dropdown:hover .dropdownContent {
      display: block;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }

    .dropdown:hover .dropbtn {
      background-color: transparent;
    }
  }
}
