.Container1 {
  display: flex;
  flex-direction: column;
  padding: 0 270px;
}

.account-container {
  display: flex;
  justify-content: center;
}

.profile {
  display: flex;
  margin: 30px 0;
  flex-direction: column;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture-account {
  border-radius: 50%;
  height: 130px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.edit-btn {
  background-color: #214457;
  color: #ffffff;
  margin-right: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 1px solid;
  width: 130px;
}
.signout-btn {
  color: #214457;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #214457;
  width: 130px;
}

.signout {
  padding: 8px;
}
